@import "reset";
@import "variables/global";
@import "themas/dark";
@import "themas/light";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
}

.contentPage {
    display: flex;
}

.pageWrapper {
    flex-grow: 1;
}
