@import 'reset.scss';
@import 'variables/global.scss';
@import 'themas/dark.scss';
@import 'themas/light.scss';

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);
}
