.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    justify-content: center;
    align-items: stretch;
}

.button {
    margin-top: 15px;
    align-self: flex-start;
}
