.articleDetails {
    min-height: 100%;

    .editBtn {
        margin-left: auto;
        display: block;
    }

    .header {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }
}

.avatar {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.title {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.subTitle,
.block {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
