.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: var(--overlay-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    background: var(--bg-color);
    padding: 20px;
    transform: scale(0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.open {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;
    visibility: visible;

    .content {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
}
