.button {
    cursor: pointer;
}

.clear {
    outline: 0;
    background: none;
    border: none;
}

.outline {
    padding: 10px 15px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: none;
}
