.sidebar {
    height: calc(100vh - var(--navbar-height));
    flex: 0 0 var(--sidebar-width);
    min-width: var(--sidebar-collapsed-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: all 0.3s ease 0s;
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.collapseBtn {
    position: absolute;
    bottom: 32px;
    right: -32px;
    z-index: 10;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.collapsed {
    flex: 0 1 var(--sidebar-collapsed-width);

    .switchers {
        flex-direction: column;
    }

    .items {
        align-items: center;
    }
}
