.inputWrapper {
    .label {
        margin-bottom: 5px;
        display: block;
    }
}

.input {
    font: var(--font-m);
    padding: 8px;
    width: 100%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;

    &:focus {
        outline: none;
    }
}

.readOnly {
    .input {
        opacity: 0.9;
    }
}
