.code {
    background-color: var(--code-bg);
    padding: 20px;
    position: relative;
    overflow: auto;

    .copyBtn {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .copyIcon path {
        stroke: var(--primary-color);
    }
}
