.articleDetailsPage {
    display: block;

    .articleDetails {
        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    .commentsTitle {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
