.navbar {
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: var(--navbar-height);
}

.links {
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
}
