.orange {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --primary-color: #581e19;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
    --theme-icon-color: #e8e8ea;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
