.form {
    width: 300px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.avatar {
    display: flex;
    justify-content: center;
}
