.overlay {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--overlay-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
