.appLink {
    color: var(--primary-color);

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}

.outlined {
    border: 1px solid var(--primary-color);
    padding: 8px 12px;
    display: inline-block;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}
